<!DOCTYPE HTML>
<!--Jéssica e Lilian-->
<html>
	<head>
		<title>Esqueceu a Senha</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body>
	
	
	<!-- Header -->
					<header id="header" class="alt">
						<a href="index.html" class="logo"><strong>Reclame</strong> <span>São João</span></a>
					</header>
	
	
	 <br /><br />
	 
	 <div id="formulariologin">
	Preencha os campos abaixo para recuperar a senha:
	<br/><br/>
    <form>          
     <label> CPF <br /><input type = "text" name ="cpf"/>	<br/> <br /></label>
	 <label>Resposta da pergunta de segurança <input type = "text" name ="resposta"/></label>
	  <input type = "button" value ="prosseguir"/>
    </form>
	</div>

	 <br /><br />
	 
	  <!-- Contact -->
	    <div id = "Email123">
	        <div class="contact-method">
		         <span class="icon alt fa-envelope"></span>
			     <h3>Email</h3>
			     <a href="#">information@untitled.tld</a>
			</div>
		</div>
		
		<div id = "Phone123">			
			<div class="contact-method">
			     <span class="icon alt fa-phone"></span>
			     <h3>Phone</h3>
			     <span>(000) 000-0000 x12387</span>
			</div>
		</div>
		
		<div id = "Address123">
			<div class="contact-method">
				<span class="icon alt fa-home"></span>
				<h3>Address</h3>
				<span>1234 Somewhere Road #5432<br>
				Nashville, TN 00000<br>
				United States of America</span>
			</div>
		</div>
			
    <br /><br /><br /><br />	
	
	
	
	
								
							
							
	<!-- Footer -->
				<div id = "rodape123" >
					<footer id="footer">
						<div class="inner">
							<ul class="icons">
								<li><a href="https://twitter.com/login" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="https://www.facebook.com/" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
								<li><a href="https://www.instagram.com/?hl=pt-br" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
							</ul>
							
							<p class="copyright">
								<a href="index.html"> Reclame São Jõao</a>, seu portal de reclamação!
							</p>
						</div>
					</footer>
                </div>
	</body>
</html>