<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with JohnDoe landing page.">
    <meta name="author" content="Devcrud"> 
    <title> Área - Login  </title>
    <link rel="stylesheet" href="assets/css/perfil.css" type="text/css"> 
    <link href=""> <!-- adiconar fonte -->

</head>
<body> 
<div class = "login"> 
<img src = "assets/imgs/logo sustenta sj2.png" class="usuario" width="100"> 
<h1> Login </h1>
<form> 
<p> Usuário </p>
<input type="text" name="" placeholder="Seu nome"> 
<p> Senha </p>
<input type="password" name="" placeholder="Sua senha"> 
<input type="submit" name="" value="Login">

<a href="#"> Esqueceu sua senha? </a>
<a href="#"> Criar uma conta  </a>

<!-- ************************************************Criar área pra voltar **************************************************-->

</form>
</div>
</body>