<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MedLus</title>

    <link href="assets/img/logo.png" rel="icon">
    
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">


    <!-- Vendor CSS Files -->
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    
    <link rel="stylesheet" href="usuario.css">
</head>
<body class="d-flex flex-column align-items-center">
    <h1 class="main-title mt-5">Dados do Usuário</h1>
    <section class="bg-white mt-5 mb-5 listagem d-flex align-items-center flex-column px-5">
        
        <div class="d-flex flex-column align-items-center w-100">
            <img class="rounded-circle mt-5" width="150px" src="assets/img/tia.jpg" class="font-weight-bold">Renata</span>
            <span class="text-black-50">ingrata@gmail.com</span>
        </div>
        <div class="py-5 data">
            <div class="row mt-1">
                <div class="d-flex flex-row justify-content-between">
                    <label>Nome completo</label>
                    <p>Renata Cristina Mussulino Peixoto</p>
                </div>
                <div class="d-flex flex-row justify-content-between">
                    <label>Número de Telefone</label>
                    <p>(19) 99562-8965</p>
                </div>
                <div class="d-flex flex-row justify-content-between">
                    <label>Endereço</label>
                    <p> Rua João Almeida</p>
                </div>
                <div class="d-flex flex-row justify-content-between">
                    <label>CPF</label>
                    <p>456.963.231-89</p>
                </div>
                <div class="d-flex flex-row justify-content-between">
                    <label>Data de Nascimento</label>
                    <p>08/07/1992</p>
                </div>
                <div class="d-flex flex-row justify-content-between">
                    <label>Email</label>
                    <p>ingrata@gmail.com</p>
                </div>  
                <div class="d-flex flex-row justify-content-between">
                    <label>Cidade</label><p>São João da Boa Vista</p></div>
                <div class="d-flex flex-row justify-content-between"><label>Estado</label><p>São Paulo</p></div>
            </div>
            </div>
        </div>
    </section>
</body>
</html>