* {
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body {
    background-color: #fff;
}

.listagem { 
    border-radius: 10px;
    border: 2px solid #ccc;
}

.listagem .data label {
    font-weight: bold;
}

.main-title {
    color: #000;
    font-size: 350%;
    text-align: center;
}

/* 

@media only screen and (min-width: 768px) {
     For desktop: 
    .listagem {
        width: 30%;
    }
} */