<!DOCTYPE html>

<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>MedLus</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="CSS/style.css">
    </head>
    <body>
        <header>
                <img class="logo" src="Imagens/logo.png" width="115" height="89" alt="logo">
                <nav>
                    <ul class="nav__links">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Sobre</a></li>
                        <li><a href="#">Contato</a></li>
                    </ul>
                </nav>
                <ul>    
                    <a class="cta" href="Login/login.html"><button>Login</button></a>
                    <a class="cta" href="Cadastro/cadastro.html"><button>Cadastro</button></a>
                </ul>
        </header>
        <main>
            <div id="display-p">
                <div class="icons">
                    <img class="icon" src="Imagens/calendario.png" width="120" height="120" alt="icon1">
                    <div class="icon_text">    
                        <h2>AGENDAMENTOS<br>RÁPIDOS</h2>
                    </div>
                    <span class="p_text">
                        <p id="icon1_text3">textotextotexto</p>
                    </span>
                </div>
                <div class="icons">
                    <img class="icon" src="Imagens/Especialista.png" width="120" height="120" alt="icon2">
                    <div class="icon_text">
                        <h2>MÉDICOS<br>ESPECIALIZADOS</h2>
                    </div>   
                    <span class="p_text">
                        <p id="icon2_text3">textotextotexto</p>
                    </span>
                </div>
                <div class="icons">
                    <img class="icon" src="Imagens/Seguranca.png" width="120" height="120" alt="icon3">
                    <div class="icon_text">
                        <h2 id="icon3_text">SEGURANÇA<br>GARANTIDA</h2>
                    </div>
                    <span class="p_text">
                        <p id="icon3_text3">textotextotexto</p>
                    </span>
                </div>
            </div>

                <hr>

                <div class="conteudo">
                    <div class="conteudo-text">
                        <h2 id="conteudo-t">Texto</h2>
                        <p>texto texto texto texto e mais texto</p>
                    </div>
                    <div id="counteudo-i">
                        <img class="figura-1" src="Imagens/medicina.jpg" alt="Figura 1">
                    </div>
                </div>
        </main>
    </body>
</html>