#logo-indra{
    width: 300px;
    height: auto;
}

#logo-indra:hover{
    -ms-transform: scale(1.05,1.05); /* IE 9 */
    -webkit-transform: scale(1.05,1.05); /* Safari */
    transform: scale(1.05,1.05);	
}

#fork {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
}

.legend {
    width: 150px;
    height:auto;
    padding:15px;
    border: 1px solid rgb(200, 200, 200);
}

.legend .title {
    display: block;
    margin-bottom: 0.5em;
    line-height: 1.2em;
    padding: 0 0.3em;
}

.legend .color-sample {
    display: block;
    float: left;
    width: 1em;
    height: 1em;
    border: 2px solid; /* Comment out if you don't want to show the fillColor */
    border-radius: 0.5em; /* Comment out if you prefer squarish samples */
    margin-right: 0.5em;}

.box {
    margin: 0px auto;
    width: 70%;
}

.box-chart {
    width: 70%;
    margin: 0 auto;
    padding: 10px;
}

.table{
    background: #ecedef;
}
.table > tbody > tr > td{
    font-weight: normal;
    padding: 8px;
    line-height: 1;
    vertical-align: top;
    border-top: 1px solid white;
}

.table > thead > tr > th{
    color: white;
    padding: 8px;
    line-height: 1;
    vertical-align: top;
    border-top: 1px solid #ecf0f1;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
    border: 1px solid white;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #dbdcde;
}

.table-hover > tbody > tr:hover {
    background-color: #9097a0;
}

.btn-table {
    padding: 1px 10px 1px;        
}

#form-container {
    margin-left: 15%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 3%;
    width: 40%;
    border: 1px solid #9097a0;
    border-radius: 3px;
    background: #F5F5F5;
}

#contact{
    margin-top: 30px;
}

.botao-semfundo{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;    
}

.section1{
    margin: 1em;
}

.input{
    width: 90%;
}

.caixa-grafico{
    width: 50%;
    margin-right: 25%;
    margin-left: 25%;
    text-align: center;
    height: auto;
}

.select{
    display: inline-block; 
    margin-right: 1%;
}

.alerta{
    display: inline-grid;
    background-color: #3e5871; 
    margin-top: 6%; 
    color: white;
}

.icon-alerta{
    margin-left: 5%; 
    float:left; 
    width: 15%; 
    height: 15%;
}

.alerta-text{
    float: left;
    margin: 2em 2em;
    text-align: left;
}

.btn-spoiler{
    background: #2c3e50;
}
.btn-default{
    background: #2c3e50;
}

#cadastrar{
    text-align: center;
}

#about{
    background-color: white;
    color: black;
}

#menu{
    background-color: #2C3E50;
}

#painel-inicial{
    background-color: #009ECE;
}

#icone-menu{
    width: 75px;
    height: auto;
}

#icone-menu:hover{
    cursor: pointer;
    -ms-transform: scale(1.05,1.05); /* IE 9 */
    -webkit-transform: scale(1.05,1.05); /* Safari */
    transform: scale(1.05,1.05);	
}

#ferramentas{
    background-color: #009ECE;
    color: white;
}

#modal-login{
    position: fixed;
    bottom: 25%;
    right: 25%;
    left: 25%;
    top: 25%;

    z-index: 99999;    
}

@media(max-width:767px) {
    #icone-menu{
        width: 50px;
        height: auto;
        margin-left: 1em;
    }

    .icone-menu-container {
        padding: 0;
        margin: 1em;
    }

}

#form-login{
    background-color: white;
    padding: 5% 10% 5% 10%;
    border-radius: 15px;
}

.elemento-escondido{
    display:none;
}

#btn-login:hover{
    cursor: pointer;
}

#background-modal{
    position:fixed;
    background-color: #4d4d4d;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 8888;
    opacity: 0.8;
}

.entrada-texto{
    color: black;
}

.ferramentas:hover{
    cursor: pointer;

    -ms-transform: scale(1.05,1.05); /* IE 9 */
    -webkit-transform: scale(1.05,1.05); /* Safari */
    transform: scale(1.05,1.05);
}

.card{
    background-color: white;
    text-align: center;
    font-size: 20px;
    color: black;
    border-radius: 5px;
    max-width: 15%;
}

.card-img{
    width: 150px;
    height: auto;
}

.img-modulos{
    width: 150px;
    height: auto;
}

.link-ferramenta a:active, a:visited{
    color: black;
}
.link-ferramenta a:hover{
    color: #009ECE;
}

#funcionalidades{
    background-color: #009ECE;
    color: white;    
}

#dropdown{
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
}



