
@media (max-width: 1024px) {
.flex1 {
  display: flex;
}
.flex2 {
  flex: 1;
}

.input_img {
    position: absolute;
    margin-left: 83%;
top: 40%;
transform: translateY(-50%); 
    width:20px;
    height:17px;
}	
}


@media (min-width: 1024px) {
.flex1 {
  display: flex;
}
.flex2 {
  flex: 1;
}

.input_img {
    position: absolute;
    margin-left: 90%;
top: 40%;
transform: translateY(-50%); 
    width:20px;
    height:17px;
}
}