#home {
	color: white;
}
.caixa {
	padding: 60px 0;
	border-bottom: 1px solid #e5e5e5;
}

footer p a {
	margin: 5px 15px;
}
#login .container #login-row #login-column #login-box {
	font-style: white;
  	margin-top: 120px;
 	max-width: 600px;
	height: 355px;
  	border-radius: 25px;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}
.fotologin{
	background-image: url("../img/login.jpg");
}
body{
	background-color: #424242;
}