body {
    background-color: #fff;
}

form {
    background-color: #fff;
    border: 2px solid #ccc;
    padding: 50px 35px;
}

form * {
    font-family: 'Poppins',sans-serif;
    color: #000 ;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

form h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

form a {
    text-align: center;
    text-decoration: none;
    color: #3A9C97;
}

label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
input{
    display: block;
    height: 50px;
    width: 100%;
    border: 1px solid #eee;
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

::placeholder{
    color: #000;
}

.forgot-password {
    padding-top: 10px;
}

button[type=submit] {
    margin-top: 50px;
    width: 100%;
    background-color: #2BB8B1;
    color: #fff;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: 200ms;
}
button[type=submit]:hover {
    color: #fff;
    background: #3A9C97;
}

.inputs {
    border: solid 2px rgb(131, 131, 131);
}

#causa {
    width: 717px;
    height: 130px;
    border: solid 2px rgb(131, 131, 131);
}

#rem_select{
    overflow: auto;
}

#inter-display, #retorno{
    position: relative;
    height: 21px;
    margin-left: 107px;
    margin-top: -23px;
}

#retorno {
    margin-left: 79px;
}

#but-cancelar{
    background-color: red;
    margin-top: 12px;
}

#but-cancelar:hover{
    background-color: rgb(161, 7, 7);
}

#inform-date{
    position: relative;
    width: 190px;
    margin-left: 60px;
    margin-top: -36px;
}

.but-abrir{
    display: inline;
    position: relative;
    width: 70px;
    background-color: #2BB8B1;
    color: #fff;
    border-radius: 3px;
    margin-left: 5px;
}

.but-abrir:hover{
    background-color: #3A9C97;
}

#p-sim{
    position: relative;
    margin-left: 110px;
    margin-top: -22px;
}

#retorno1 {
    position: relative;
    margin-left: 160px;
    margin-top: -40px;
    height: 21.5px;
    width: 21.5px;

}

#p-nao{
    position: relative;
    margin-left: 192px;
    margin-top: -21.5px;
}