<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SSJ Dashboard</title>
    <link rel="stylesheet" href="cssdash.css">
</head>
<body>
    <i class="fa-solid fa-bars"></i>
    <input type="checkbox" id="chec">
    <label for="chec">
        <img src="barras.png">
    </label>
    <img class="logo" src="logo2.png">
    <nav>
        <ul>
            <li><a href="">INICIO</a></li>
            <li><a href="">RECLAMAÇÕES</a></li>
            <li><a href="">SANEAMENTO BÁSICO</a></li>
            <li><a href="">SUSTENTABILIDADE</a></li>
            <li><a href="">ADMIN</a></li>
        </ul>
    </nav>
    <div class="content" id="first">RECLAMAÇÕES</div>
    <div class="content" id="second">SANEAMENTO BÁSICO</div>
    <div class="content" id="third">SUSTENTABILIDADE</div>

    <div class="rec" id="rectangle1"></div>
    <div class="rec" id="rectangle2"></div>
    <div class="rec" id="rectangle3"></div>
    <div class="rec" id="rectangle4"></div>
    <div class="rec" id="rectangle5"></div>

</body>
</html>