<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  rel="stylesheet" href="css_index.css" />
    <link  rel="javascript" href="task-list.js" >
    <script src="https://kit.fontawesome.com/5d70962c4e.js" crossorigin="anonymous"></script>
    <title>Dashboard Sustenta São João</title>
</head>
<body>

    
      <!--HEADER-->
     
<header>
  
    
        <div class="logo">
            <h3>
            <img class="logo" href="#" src="IMG/logo ssj.png">
        </h3>
            </div>

     <div class="icons-header">
            <i href="#" class="fa-regular fa-bell"> </i> 
            <i href="#" class="fa-regular fa-envelope"> </i>
            <i href="#" class="fa-regular fa-user"> </i>
     </div>

</header>
 <!--FIM HEADER-->

<section class="main">
    <div class="sidebar">
    <h3>Menu</h3>
    <a class="sidebar-active"  href="#"><i class="fa-solid fa-house"></i>Página Inicial</a>
    <a href="#"><i class="fa-solid fa-house"></i>Tópico 1</a>
    <a href="#"><i class="fa-solid fa-house"></i>Tópico 2</a>
    <a href="#"><i class="fa-solid fa-house"></i>Tópico 3</a>
    <br/>
    
    </div>

    <div style="background-color: rgb(236, 236, 236);" class="content">
        <div class="titulo-secao">
            <h2>Dashboard </h2>
            <br/>
            <div class="separator"></div>
            <hr>
            <br/>
            <p><i class="fa-solid fa-house"></i> /Dashboard Sustenta São João</p>
        </div>

        <div class="box-info">
            <!--#1-->
            <div style="background-color: #337470;" class="box-info-single">
                <div class="info-text">
                    <h3>xxxxx</h3>
                    <p>#####</p>
                </div>
                <i class="fa-solid fa-check"></i>
            </div>
            <!--#2-->
            <div style="background-color:#6DBA65;" class="box-info-single">
                <div class="info-text">
                    <h3>xxxxx</h3>
                    <p>#####</p>
                </div>
                <i class="fa-solid fa-pen-to-square"></i>
            </div>
            <!--#3-->
            <div style="background-color:#9BE17F;" class="box-info-single"> 
                <div class="info-text">
                    <h3>xxxxx</h3>
                    <p>#####</p>
                </div>
                <i class="fa-solid fa-folder-open"></i>
            </div>
            

        </div>

         <!--SITEMAP-->

    <div>
        <div class="sitemap">
    
            <nav class="primaryNav">
                <ul>
                    <li><a href="/#">  <i class="fa-solid fa-magnifying-glass"> </i>Pesquisar</i>  </a></li> 
                      
                </ul>
                <ul>
                    <li><a href="/#"></i>Sobre o Projeto</a></li>

                </ul>
    
            </nav>
    
        </div> <!-- end sitemap -->



      
    </div>


</section>

</body>
</html>