<!-- Grupo 1 Login 1-->

<!DOCTYPE HTML>

<html>
	<head>
		<title>Esqueceu a Senha</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="index">
	    <div id = "bannercima">
		</div>
		    <div id="page-wrapper">
           
			     <!-- Header -->
				    <header id="header" class="alt">
					    <h1 id="logo"><a href="index.html">Reclame <span>São João</span></a></h1>
					    <nav id="nav">
						    <ul>
							    <li class="current"><a href="index.html">Bem Vindo!</a></li>
							    <li class="submenu">
								    <a href="#">Menu</a>
							        <ul>
									    <li><a href="left-sidebar.html">Cadastre-se</a></li>
									    <li><a href="right-sidebar.html">Melhores Avaliados</a></li>
									    <li><a href="no-sidebar.html">Reclame Aqui</a></li>
									    <li><a href="contact.html">Contato</a></li>
									    <li class="submenu">
										    <a href="#">Informações</a>
										    <ul>
											    <li><a href="#">Serviços</a></li>
											    <li><a href="#">Dúvidas Frequentes</a></li>
											    <li><a href="#"></a></li>
											    <li><a href="#"></a></li>
											    <li><a href="#"></a></li>
										    </ul>
									    </li>
								    </ul>
							    </li>
							    <li><a href="login.html" class="button special">ENTRAR</a></li>
						    </ul>
					    </nav>
				    </header>
	    </div>
		
		<div id ="pagina-toda-esqueceu">
		</div>
		    <br /><br />
	 
	 <div id="formularioesqueceu">
	Preencha os campos abaixo para recuperar a senha:
	<br/><br/>
    <form>          
     <div id = "FE"> <label> CPF <br /><input type = "text" name ="cpf"/>	<br/> <br /></label> </div>
	 <div id = "FE"> <label>Resposta da pergunta de segurança <input type = "text" name ="resposta"/></label><br/> 
	 <div id = "FEbotao"> <input type = "button" value ="prosseguir"/> </div>
    </form><br /> <br /> 
	&nbsp Clique <a href="index.html"> aqui </a> para voltar a página inicial<br /> 
	</div>
	</div>

	<br /><br /><br /><br /> 
		
		<!-- Footer -->
		<div id = "rodape">
				<footer id="footer">

					<ul class="icons">
						<li><a href="https://twitter.com/login" class="icon circle fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="https://www.facebook.com/" class="icon circle fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="https://accounts.google.com" class="icon circle fa-google-plus"><span class="label">Google+</span></a></li>
						<li><a href="#" class="icon circle fa-youtube"><span class="label">Youtube</span></a></li>
						<li><a href="#" class="icon circle fa-instagram"><span class="label">Instagram</span></a></li>
					</ul>

					<ul class="copyright">
						<li>&copy; Untitled</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>

				</footer>
		</div>
	</body>
</html>