<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Arial;}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
h1{
text-align: center;
}
</style>
</head>
<body>

<div class="tab">
  <button class="tablinks" onclick="openCity(event, 'Login'); reload()" id="defaultOpen">Login</button>
  <button class="tablinks" data-toggle="collapse" data-target="#cadastro" onclick="openCity(event, 'Cadastro'); abrirUsuario()">Cadastro</button>
</div>
<!-- Login -->
<div id="Login" class="tabcontent multi-collapse p-md-4">
 <h1>LOGIN</h1>
 <div id="login" class="container ">
      <form id="login" class="container my-4">
        <div class="row form-group">
            <div class="col">
              <label>EMAIL</label>
                <input class="form-control" type="text" name="EMAIL">
            </div>
        </div>
        <div class="row form-group">
          <div class="col">
            <label>SENHA</label>
              <input class="form-control" type="password" name="SENHA">
          </div>
        </div>
        <div class="row form-group ">
          <div class="col">
            <input type="checkbox" name="lembrar" value="sim"> Manter Conectado
          </div>
        </div>
         <div class="text-center">
            <input class=" btn btn-danger col-md-2" type="submit" name="Entrar" value="Entrar"></br>
         </div>  
      </form>
    </div>
</div>
<div  id="Cadastro" class="collapse multi-collapse text-center p-md-4">
	<button class="btn tablinks col-md-2 btn-info" onclick="openCity(event, 'Usuario')" id="defaultOpen2">Usuário</button>
	<button class="btn tablinks col-md-2 btn-danger" onclick="openCity(event, 'EDF')">Educador Físico</button>
	<button class="btn tablinks col-md-2 btn-success" onclick="openCity(event, 'NUTRI')">Nutricionista</button>
</div>
<!-- Usuario -->
<div id="Usuario" class="tabcontent p-md-4">
<h1>CADASTRO USUÁRIO</h1>
 <form id="formUsuario" class="container my-4 ">
    <div class="row form-group">
      <div class="col">
        <input class="form-control" type="text" name="nomeusucadastro" placeholder="Nome"></br>
      </div>
      <div class="col">
        <input class="form-control" type="text" name="sobrenomeusucadastro" placeholder="Sobrenome"></br>
      </div>
    </div>
    <div class="row form-group">
      <div class="col">
        <input class="form-control" type="email" name="emailusucadastro" placeholder="meuemail@mail.com"></br>
      </div>
      <div class="col">
        <input class="form-control" type="text" name="cpfusucadastro" placeholder="CPF sem pontuação"></br>
      </div>
    </div>
    <div class="row form-group">
      <div class="col">
        <input class="form-control" type="text" name="endusucadastro" placeholder="Endereço"></br>
      </div>
      <div class="col">
        <input class="form-control" type="date" name="datausucadastro" placeholder="dd/mm/aaaa"></br>
      </div>
    </div>
    <div class="row form-group">
      <div class="col">
        <input class="form-control" type="tel" name="telusucadastro" placeholder="Telefone"></br>
      </div>
      <div class="col">
        <input class="form-control" type="password" name="senhausucadastro" placeholder="Senha"></br>
      </div>
      <div class="col">
        <input class="form-control" type="password" name="confirsenhausucadastro" placeholder="Confirmação de senha"></br>
      </div>
    </div>
    <div class="text-center">
      <input class=" btn btn-danger col-md-2" type="submit" name="Cadastrouser" value="Cadastrar"></br>
    </div>        
  </form>
</div>

<!-- EDUCADOR FISICO -->
<div id="EDF" class="tabcontent p-md-4">
<h1>CADASTRO EDUCADOR FISÍCO</h1>
  <form id="formEDF" class="container my-4 ">
    <!-- Nome Sobrenome-->
    <div class="row form-group">
      <div class="col">
        <input class="form-control" type="text" name="nomeedfcadastro" placeholder="Nome"></br>
      </div>
      <div class="col">
        <input class="form-control" type="text" name="sobrenomeedfcadastro" placeholder="Sobrenome"></br>
      </div>
    </div>
    <!-- Email CPF-->
    <div class="row form-group">
      <div class="col">
        <input class="form-control" type="email" name="emailedfcadastro" placeholder="meuemail@mail.com"></br>
      </div>
      <div class="col">
        <input class="form-control" type="text" name="cpfeducadastro" placeholder="CPF sem pontuação"></br>
      </div>
    </div>
    <!---END CRF -->
    <div class="row form-group">
      <div class="col">
        <input class="form-control" type="text" name="endedfcadastro" placeholder="Endereço"></br>
      </div>
      <div class="col">
        <input class="form-control" type="text" name="crfeedf" placeholder="CRFE"></br>
      </div>
    </div>
    <!--- TEL DATA-->
    <div class="row form-group"> 
      <div class="col">
        <input class="form-control" type="date" name="dataedf">
      </div>
      <div class="col">
        <input class="form-control" type="tel" name="teledf" placeholder="Telefone">
      </div>
    </div>
    <!--Senha CONFIRM-->
    <div class="row form-group"> 
      <div class="col">
        <input class="form-control" type="password" name="senhaedf" placeholder="senha">
      </div>
      <div class="col">
        <input class="form-control" type="password" name="confirmedf" placeholder="Confirmação de senha">
      </div>
    </div>
    <!--GENERO-->
    <div class="row form-group">
      <div class="col">
        <label>Género</label> <select name="generoeducadastro">
              <option value="feminino">Feminino</option>
              <option value="masculino">Masculino</option>
              <option value="outro">Outro</option>
          </select>
      </div>
    </div>
    <!-- FOCO FISICO-->
    <div class="row form-group">
      <div class="col">
        <label for="comment">Foco fisico:</label>
        <textarea class="form-control" rows="5" name="focoedf"></textarea>
      </div>      
    </div>
    <!-- DESCRICAO-->
    <div class="form-group">
          <label for="comment">descrição:</label>
          <textarea class="form-control" rows="5" name="descedf"></textarea>
      </div>
   <!--FOTO -->
    <div class="form-group">
      <div style="text-align: center;" class="col">
        <label>Foto para cadastro</label><br>
        <input type="file" name="fotoedf" accept="image/*"><
      </div>
    </div>
    <!-- ENVIAR-->
    <div class="text-center">
      <input class=" btn btn-danger col-md-2" type="submit" name="botaoedf" value="Cadastrar"></br>
    </div> 
    </form> 
</div>

<!-- NUTRI -->
<div id="NUTRI" class="tabcontent p-md-4">
   <form id="formnutri" class="container my-4 ">
  <h1>CADASTRO NUTRICIONISTA</h1>
    <!-- Nome Sobrenome-->
    <div class="row form-group">
      <div class="col">
        <input class="form-control" type="text" name="nomenutricadastro" placeholder="Nome"></br>
      </div>
      <div class="col">
        <input class="form-control" type="text" name="sobrenomenutricadastro" placeholder="Sobrenome"></br>
      </div>
    </div>
    <!-- Email CPF-->
    <div class="row form-group">
      <div class="col">
        <input class="form-control" type="email" name="emailnutricadastro" placeholder="meuemail@mail.com"></br>
      </div>
      <div class="col">
        <input class="form-control" type="text" name="cpfnutricadastro" placeholder="CPF sem pontuação"></br>
      </div>
    </div>
    <!---END CRF -->
    <div class="row form-group">
      <div class="col">
        <input class="form-control" type="text" name="endnutricadastro" placeholder="Endereço"></br>
      </div>
      <div class="col">
        <input class="form-control" type="text" name="crnnutri" placeholder="CRN"></br>
      </div>
    </div>
    <!--- TEL DATA-->
    <div class="row form-group"> 
      <div class="col">
        <input class="form-control" type="date" name="datanutri">
      </div>
      <div class="col">
        <input class="form-control" type="tel" name="telnutri" placeholder="Telefone">
      </div>
    </div>
    <!--Senha CONFIRM-->
    <div class="row form-group"> 
      <div class="col">
        <input class="form-control" type="password" name="senhanutri" placeholder="senha">
      </div>
      <div class="col">
        <input class="form-control" type="password" name="confirmnutri" placeholder="Confirmação de senha">
      </div>
    </div>
    <!--GENERO-->
    <div class="row form-group">
      <div class="col">
        <label>Género</label> <select name="generonutricadastro">
              <option value="feminino">Feminino</option>
              <option value="masculino">Masculino</option>
              <option value="outro">Outro</option>
          </select>
      </div>
    </div>
    <!-- FOCO FISICO-->
    <div class="row form-group">
      <div class="col">
        <label for="comment">Foco fisico:</label>
        <textarea class="form-control" rows="5" name="focoedf"></textarea>
      </div>      
    </div>
    <!-- DESCRICAO-->
    <div class="form-group">
          <label for="comment">descrição:</label>
          <textarea class="form-control" rows="5" name="descedf"></textarea>
      </div>
    <!--FOTO -->
    <div class="form-group">
      <div style="text-align: center;" class="col">
        <label>Foto para cadastro</label><br>
        <input type="file" name="fotonutri" accept="image/*"><
      </div>
    </div>
    <!-- ENVIAR-->
    <div class="text-center">
      <input class=" btn btn-danger col-md-2" type="submit" name="botao" value="Cadastrar"></br>
    </div>        
  </form>
</div>


<script>
	var x=0
document.getElementById("defaultOpen").click();
function openCity(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
}
function reload() {
	x++;
	if (x > 1) {
    location.reload();
	}
}
function abrirUsuario(){
	document.getElementById("defaultOpen2").click();
}
</script>
     
</body>
</html> 
