<!--Menu!-->
<div class="btn-group ">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Menu
  </button>
  <ul class="dropdown-menu dropdown-menu-right ">
			<li class="nav-item">
				<a class="nav-link" href="#sobre">Sobre</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#postagens">Postagens</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#equipe">Equipe</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#cadastro">Cadastro</a>
			</li>
		</ul>
  </div>
</div>
<!--Fim Menu!-->