<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="CSS/Consulta.css">
    </head>
    <body>
        <div class="area">
            <div class="top">
                <h2>Registrar Consulta Presencial</h2>
            </div>
            <div class="middle">
                <p>Paciente: João Batista</p>
                <p id="pront">Prontuário: F57398</p>
                <p id="enfer">Médico Responsável: Roberto Alves</p>
                <p>Data: <input id="date" type="date"></p>
                <p>Sintomas: <br><textarea name="sintomas" id="sint" cols="40" rows="20" wrap="hard"></textarea></p>
                <p>Prescrição Médica: <input class="arquivos" type="button" value="Adicionar"></p>
                <p>Solicitação de Exames: <input class="arquivos" type="button" value="Adicionar"></p>
                <p>Internação: <input id="intern" type="checkbox"></p>
            </div>
            <div class="bottom">

            </div>
        </div>
    </body>
</html>