body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #7AD5E6;
}

.card {
    margin-bottom: 20px;
    background-color:red;
    border: none;
}

.box {
    width: 500px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    background:  #AAE4EE;
    text-align: center;
    transition: 0.25s;
    margin-top: 100px
}

.box input[type="text"],
.box input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #36b9b3fd;
    padding: 10px 10px;
    width: 250px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s
}

.box h1 {
    color: white;
    font-family: Georgia, serif ;
    text-transform: uppercase;
    font-weight: 500
}

.texto{
    color: rgb(54, 105, 109);
}

.box input[type="text"]:focus,
.box input[type="password"]:focus {
    width: 300px;
    border-color: #36b9b3fd;
}

.box input[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #33ccff;
    padding: 14px 40px;
    outline: none;
    color: rgb(54, 105, 109);
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer
}

.box input[type="submit"]:hover {
    background: #33ccff
}

.forgot {
    text-decoration: underline
}
