<!DOCTYPE HTML>

<html>
	<head>
		<title>Home - Brewing Space</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
                <link rel="shortcut icon" href="images/logo.png" />
		<link rel="stylesheet" href="assets/css/main.css" />
                <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	</head>
	<body>

		<!-- Header -->
			<header id="header" class="alt">
                            <div class="logo font-weight-bold"><a href="index.html">BREWING SPACE</a></div>
                            <a href="#menu" class="font-weight-bold">MENU</a>
                                
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="#">Login</a></li>
					<li><a href="#">Fazer parte</a></li>
					<li><a href="#">Sobre nós</a></li>
				</ul>
			</nav>

		<!-- Banner -->
			<section class="banner full">
				<article>
					<img src="images/slide_1.png" alt="" />
					<div class="inner">
						<header>
							
							<h2>Brewing Space</h2>
						</header>
					</div>
				</article>
				<article>
					<img src="images/slide_2.png" alt="" />
					<div class="inner">
						<header>
							<p>Lorem ipsum dolor sit amet nullam feugiat</p>
							<h2>Brewing Space</h2>
						</header>
					</div>
				</article>
				<article>
					<img src="images/slide_3.png"  alt="" />
					<div class="inner">
						<header>
							<p>Sed cursus aliuam veroeros lorem ipsum nullam</p>
							<h2>Brewing Space</h2>
						</header>
					</div>
				</article>
			</section>

		<!-- One -->
                
                        <section id="three" class="wrapper style2">
				<div class="inner">
					<header class="align-center">
						<p class="special">Conheça nossos planos de assinatura e tenha o melhor do Brewing Space!</p>
						<h2>Nossos planos</h2>
					</header>
					<div class="gallery">
						<div>
							<div class="image fit">
                                                            <a href="#"><img src="images/free2.png" alt="" /></a>
							</div>
						</div>
						<div>
							<div class="image fit">
								<a href="#"><img src="images/weiss.png" alt="" /></a>
							</div>
						</div>
						<div>
							<div class="image fit">
                                                            <a href="#"><img src="images/ipa.png" alt="" /></a>
							</div>
						</div>
						<div>
							<div class="image fit">
                                                            <a href="#"><img src="images/trapista.png" alt="" /></a>
							</div>
						</div>
					</div>
				</div>
			</section>
                
			<section id="two" class="wrapper style3">
				<div class="inner">
                                    <header class="align-center  mt-2 p-2">
                                        <p class="special">A rede social dos apaixonados por</p>
                                        <h2>Cerveja!</h2>
                                    </header>
				</div>
			</section>

		<!-- Three -->
                <section class="container"> 
                    <header class="align-center  mt-2 p-2">
                        <p class="special">Gostou dos nossos planos? Não perca tempo!</p>
                        <h2 class="mb-3">Cadastre-se!</h2>
                    </header>
                    <form method="post" action="#">
                        <div class="row uniform">
                            <div class="6u">
                                <input type="text" name="nome" id="nome" value="" placeholder="Nome" />
                            </div>
                            <div class="6u 12u">
                                <input type="text" name="sobrenome" id="sobrenome" value="" placeholder="Sobrenome" />
                            </div>
                            <!-- Break -->
                            <div class="6u 12u">
                                <input type="text" name="cpf" id="cpf" value="" placeholder="CPF ex: 000.000.000-00" />
                            </div>

                            <div class="6u 12u">
                                <div class="select-wrapper">
                                    <select name="category" id="category">
                                        <option value="">- Categoria -</option>
                                        <option value="1">Apreciador</option>
                                        <option value="1">Microcervejeiro</option>
                                    </select>
                                </div>
                            </div>
                            <!-- Break -->
                            <div class="12u">
                                <input type="email" name="email" id="email" value="" placeholder="Email" />
                            </div>
                            <div class="6u 12u">
                                <input type="password" name="senha" id="senha" value="" placeholder="Senha" />
                            </div>
                            <div class="6u 12u">
                                <input type="password" name="senhaC" id="senhaC" value="" placeholder="Confirme sua senha" />
                            </div>
                            <div class="12u align-center">
                                <ul class="actions">
                                    <li><a href="#" class="button special">Cadastrar</a></li>
                                </ul>
                            </div>
                    </form>
                </section>

		<!-- Two -->
			


		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
					</ul>
				</div>
				<div class="copyright">
					&copy; Brewing Space. Todos os direitos reservados.
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>