/* todos os 6 arquivos rec_visualizarcompleto_user, rec_visualizar_user, rec_notificacao_user, rec_revise, rec_formulario, rec_editar */

@media (max-width: 1024px) {
	#rec_table_titulo{
	display:none;
}
	.form_titulo{
	font-size: 20px;
	font-family: Calibri;
	}

	#form_icon{
	font-size: 20px;
	}

	#rec_table_titulo_responsivo{
	margin-top: 4em;
	margin-bottom: 4em;
	width: 80%;
	}
}

@media (min-width: 1024px) {
	#rec_table_titulo_responsivo{
		display:none;
	}
	.form_titulo{
	font-size: 28px;
	font-family: Calibri;
	}
	#form_icon{
	position: relative;
	transform: translateY(75%); 
	font-size: 25px;
	}
}

#form_titulo2{
	border-radius: 4px;
	border: 1px solid #ddd;
	width: 100%;
	height: 35px;
	font-size: 12px;
	padding: 10px 16px;
	margin-left: 0.1%;
}

#form_assunto{
	border-radius: 4px;
	border: 1px solid #ddd;
	width: 100%;
	height: 165px;
	padding: 10px 16px;
	font-size: 12px;
	margin-left: 0.1%;
}



@media (max-width: 1024px) {
	.rec_div_formulario{
	margin-top: 5%;
	margin-bottom: 15%;
	width: 90%;
	height: -50%;
	margin-left: 5%;
	font-size: 20px;
	font-family: arial;
	background-color: white;
	border: 1px solid #ddd;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
	}
}

@media (min-width: 1024px) {
	.rec_div_formulario{
	margin-top: 5%;
	margin-bottom: 15%;
	width: 75%;
	height: -50%;
	margin-left: 15%;
	font-size: 20px;
	font-family: arial;
	background-color: white;
	border: 1px solid #ddd;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
	}
}

@media (max-width: 1024px) {
	.rec_label{
	font-size: 12px;
	line-height: 1.7;
	font-family: arial ;
	border-radius: 4px;
	margin-right:0%;
	color: #888;
	border: 1px solid transparent;
	margin-top: 2%;
}
}

@media (min-width: 1024px) {
	.rec_label{
	font-size: 16px;
	font-family: arial ;
	border-radius: 4px;
	margin-right:0%;
	color: #888;
	border: 1px solid transparent;
	margin-top: 2%;
}
}

@media (max-width: 1024px) {
	#rec_imagem{
		display: none;
	}
}

.rec_span_upload_opcional{
	color: #4A90E2;
}

.titulosolucao{
	font-weight:bold;
}

@media (max-width: 1024px) {
	.rec_botao {
	width: 100%;
	margin-top: 2em;
	margin-bottom: 1em;
	margin-left:0%;
	color: #fff;
	background-color: #ed786a;
	border: 0;
	border-radius: 6px;
	}

	.rec_botao:hover{
	background-color: #fd887a;
	}
	
	input[type="button"],
	input[type="submit"],
	input[type="reset"],
	button,
	.button {
	letter-spacing: 2px;
	display: block;
	padding: 1.2em 0 1.2em 0;
	font-size: 10px;
	}
}

@media (min-width: 1024px) {
	.rec_botao {
	padding: 10px;
	width: 25%;
	margin-top: 4%;
	margin-left:0%;
	color: #fff;
	background-color: #ed786a;
	border: 0;
	border-radius: 6px;
	font-size: 17px;
	}

	.rec_botao:hover{
	background-color: #fd887a;
	}
}

@media (min-width: 1024px) {
	.rec_botao_reclamar {
	padding: 10px;
	width: 100%;
	margin-top: 16%;
	margin-left:0%;
	color: #fff;
	background-color: #ed786a !important;
	border: 0;
	border-radius: 6px;
	font-size: 17px;
	}

	.rec_botao_reclamar:hover{
	background-color: #fd887a !important;
	}
}

@media (min-width: 1024px) {
	.rec_botao_editar {
	padding: 10px;
	width: 100%;
	margin-top: 16%;
	margin-left:0%;
	color: #fff;
	background-color: #72665a !important;
	border: 0;
	border-radius: 6px;
	font-size: 17px;
	}

	.rec_botao_editar:hover{
	background-color: #817365 !important;
	}
}

@media (max-width: 1024px) {
	#rec_table_editar {
	display:none;
	}
}

@media (max-width: 1024px) {
	#rec_table_reclamar {
	display:none;
	}
}

@media (min-width: 1024px) {
	#rec_botao_responsivo {
	display:none;
	}
}

@media (max-width: 1024px) {
	#rec_botao_responsivo {
	width: 100%;
	margin-bottom: 1em;
	margin-left:0%;
	color: #fff;
	background-color: #ed786a;
	border: 0;
	border-radius: 6px;
	}

	#rec_botao_responsivo:hover{
	background-color: #fd887a;
	}
}

@media (min-width: 1024px) {
	#rec_botao_responsivo_editar {
	display:none;
	}
}

@media (max-width: 1024px) {
	#rec_botao_responsivo_editar {
	width: 100%;
	margin-top: 2em;
	margin-bottom: 1em;
	margin-left:0%;
	color: #fff;
	background-color: #72665a;
	border: 0;
	border-radius: 6px;
	}

	#rec_botao_responsivo_editar:hover{
	background-color: #817365;
	}
}

#rec_table_editar{
	float: left; width: 25%; margin-bottom: 0em !important;
}

#rec_table_reclamar{
	width: 25%;margin-left: 26%; margin-bottom: 0em !important;
}

#rec_img{
	width: 30%; height: 30%;
}

.rec_div_conteudo_formulario{
	border: 1px solid transparent;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 3%;
	margin-bottom: 5%;
}

button:focus {
    outline: 0;
}

.nomeempresa{
	font-size: 20px;
	font-family: arial ;
}


.nomeMenu3333{
	border-radius: 4px;
	border: 1px solid #ddd;
	width: 60%;
	height: 32px;
	font-size: 12px;
	padding: 10px 16px;
	margin-left: 0.1%;	
}

.aviso{
	border: 1px solid #ddd;
	border-radius: 4px;
	font-size: 12px;
	padding: 10px 15px 10px;
	margin-top:2%;
	width: 80%;
	background-color: #f4f3f0;
	line-height: 20px;
}

.divconsideracao{
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 10px 15px 10px;	
	background-color: #f4f3f0;	
}

.nomeMenu3336{
	border-radius: 4px;
	border: 1px solid #ddd;
	width: 100%;
	height: 35px;
	margin-left: 0%;
	padding: 10px 16px;
	font-size: 12px;
}

.nomeMenu3337{
	border-radius: 4px;
	border: 1px solid #ddd;
	width: 100%;
	height: 35px;
	margin-left: 0%;
	padding: 10px 16px;
	font-size: 12px;	
}

.passos{
	font-size: 15px;
	font-family: arial ;
	color: #72665a;
	font-weight: bold;
	text-decoration: underline;
}

.selectdata{
	border-radius: 4px;
	border: 1px solid #ddd;
	width: 15%;
	font-size: 15px;
	margin-left: 0.1%;
	height: 30px;
	border: 1px solid #CCC;
    border-radius: 3px;
    background-color: #F2F2F2;
	background: linear-gradient(to bottom,#FFF 0,#F2F2F2 100%);
    font-family: inherit;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF',endColorstr='#F2F2F2',GradientType=0);
    cursor: pointer;
}

	@media (min-width: 1024px) {
  #extras{display: none;}
  .btn-toggle{display: block;}
}

.popup {
    position: relative;
 float: left;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	margin-right: 1%;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
	font-size: 15px;
}

/* Popup arrow */
.popup .popuptext:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

#rec_popup{
	color: white;
}

#rec_popup:hover{
	color: #736659;
	border-bottom: 1px solid #736659;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

#rec_label_checkbox{
	width: 99%; margin-right:0%; color:#4B4237;
}

#rec_label_checkbox:hover{
	width: 99%; margin-right:0%; color:#ccc;
}

#rec_table_titulo{
	margin-top: 5%;  width: 30%;
}

@media (min-width: 1024px) {
	#rec_table_checkbox{
	width: 101%;
	}
}

@media (max-width: 1024px) {
	#rec_table_checkbox{
	width: 101%;
	font-size: 10px;
	}
	#rec_label_checkbox{
	
	}
	.ui-icon {
	display: none;
	}
	.popup {
	display: none;
	}
}

@media (min-width: 1024px) {
	#checkbox_responsivo{
	display: none;
	}
}

#enviado_link{
	color: #3884c7;
}

#enviado_table_titulo{
	margin-top: 5%;  width: 38%;
}

@media (max-width: 1024px) {
	#enviado_table_titulo{
	display:none;
}
}

#banner_divisoria{
	padding: 2em 0 3em 0; border-top: solid 2px #e5e5e5;border-bottom: solid 2px #e5e5e5;
	box-shadow: inset 0px -8px 0px 0px #fff, inset 0px -10px 0px 0px #e5e5e5, inset 0px 8px 0px 0px #fff, inset 0px 10px 0px 0px #e5e5e5;
}

#banner_divisoria_unico{
	padding: 3em 0 3em 0; border-top: solid 2px #e5e5e5;border-bottom: solid 2px #e5e5e5;
	box-shadow: inset 0px -8px 0px 0px #fff, inset 0px -10px 0px 0px #e5e5e5, inset 0px 8px 0px 0px #fff, inset 0px 10px 0px 0px #e5e5e5;
}