body {
    background-color: #fff;
}

form {
    background-color: #fff;
    border: 2px solid #ccc;
    padding: 50px 35px;
}

form * {
    font-family: 'Poppins',sans-serif;
    color: #000 ;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

form h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

form a {
    text-align: center;
    text-decoration: none;
    color: #3A9C97;
}

label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
input{
    display: block;
    height: 50px;
    width: 100%;
    border: 1px solid #eee;
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

::placeholder{
    color: #000;
}

.forgot-password {
    padding-top: 10px;
}

button[type=submit], #exc {
    margin-top: 50px;
    width: 100%;
    background-color: #2BB8B1;
    color: #fff;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: 200ms;
}
button[type=submit]:hover {
    color: #fff;
    background: #3A9C97;
}

#exc {
    background-color: #c00f0f;
}

#exc:hover {
    color: #ffffff;
    background: #860d0d;
}

.inputs {
    border: solid 2px rgb(131, 131, 131);
}

#causa {
    width: 717px;
    height: 130px;
    border: solid 2px rgb(131, 131, 131);
}

.pop_up_excluir{

    background-color: #ffffff;
    position: relative;
    top: -50%;
    -webkit-box-shadow: -1px 3px 8px 5px #1a1a1ac4, 2px 5px 16px 0px #1a1a1ac4, 5px -13px 9px 5px rgba(0,0,0,0); 
    box-shadow: -1px 3px 8px 5px #1a1a1ac4, 2px 5px 16px 0px #1a1a1ac4, 5px -13px 9px 5px rgba(0,0,0,0);
    border-radius: 10px;
    text-align: center;
    padding: 16px;
}