

.badge-container {
    width: 250px;
    height: 410px;
    background-color: #ffffff; /* Fundo geral branco */
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    padding: 20px;
    color: #000000;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.badge-container .logo {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.badge-container .photo {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin: 0 auto 10px;
    background-color: #ffffff;
    overflow: hidden;
}

.badge-container .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.badge-container .name-background {
    background-color: #ff0000; /* Fundo vermelho */
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.badge-container .name {
    font-size: 22px;
    font-weight: bold;
    color: #ffffff;
}

.badge-container .info {
    font-size: 11px;
    text-align: left;
    margin-bottom: 10px;
    margin-left: 10px;
}

.badge-container .qr-code {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 55px;
    height: 55px;
    background-color: #ffffff;
    display: block;
    top: 83%;
    right: 10%;
    
}

.badge-container .qr-code img {
    width: 100%;
    height: 100%;
}
.logo img {
    width: 45px; /* Largura da logo */
    height: auto; /* Altura automática para manter a proporção */
    display: block;
    margin: 0 auto 10px; /* Centraliza a logo e adiciona margem inferior */
}


.badge-container {
transform: scale(1.5); /* Ajuste o valor de escala conforme necessário */
transform-origin: center; /* Garante que o zoom seja aplicado a partir do centro */
position: absolute;
top: 50%;
left: 50%;
margin-left: -27.5mm; /* Metade da largura do crachá em mm, ajusta a posição horizontal */
margin-top: -70.5mm; /* Metade da altura do crachá em mm, ajusta a posição vertical */
}
.botao{
    margin-top: 26%;
    text-align: left;
    width: 45%;
    height: 10%;
    margin-left: 4%;
    border: solid 1px #3BBFC3;
    border-radius: 20px;
    color: white;
    background-color: #3BBFC3;
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
}