.titulo{
    text-align:center;
}

#tabela{
    width:60%; 
    margin-left:auto; 
    margin-right:auto;
} 

.inf_tabela{
    text-align:center; 
    margin-left:auto; 
    margin-right:auto;
}

.verificar{
   width:100%; 
   text-align:center; 
   margin-top:10px"
}

.button_1{
    width:100%; 
    margin-top:10px
}

#button{
    width:150px;
    height:50px; 
    margin-left:15%; 
    background-color: #3BBFC3;
    border-color:#3BBFC3;
}